
        
        h1 {
            color: rgb(0, 255, 255);
        }  
        
        body {
            background-color: rgb(204, 0, 204);
        }

         p {
            color: rgb(255, 255, 0);
        }  

#nav-table {
        width: 800px;
}

#nav-th {
        width:266px; text-align:center;
}
        
        
            
